* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    transform: translateY(2rem);
}
.btn {
    margin: 0 .5rem;
    text-transform: uppercase;
}

.list-group {
    margin: 2rem auto;
    max-width: 15rem;
    list-style: none;
} 